# dependencies
node_modules

# env
.env
.env.*
!.env.example

# db migrations
drizzle

# local db file
local.db
*.local.db

# build
dist
dist-bin

# Add this line to the existing .gitignore file
src/db/migration-data.ts
